* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } /*removes white band around the page */

body {
    background-color: rgb(195, 186, 186);
}

h1, h2 {
    color: white;
}

.video {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.interests {
    display: flex;
    justify-content: center;
}

figure {
    margin-right: 15px;
}