* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } /*removes white band around the page */

#nav, main {
  background-color: #1f2937;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  align-items: flex-end;
}

.social-links {
  margin-left: auto;
}

h1, p {
  font-size: 48px;
  color: #f9faf8;
}

p {
  font-size: 18px;
}

.video {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.interests {
    display: flex;
    justify-content: space-around;
}

figure {
    color: black;
    border: 2px solid #3882f6;
    padding: 5px;
    border-radius: 0.5em;
}

.end {
  background-color: #3882f6;
}

/* .button {
  display: flex;
  justify-content: flex-end;
} */

 button[type] {
  background-color: #3882f6;
  color: white;
  padding: 4px 20px 4px 20px;
  margin-left: 40em;
  border-radius: 0.5rem;
  border-color: white;
}